Repository OffchainLabs/nitro, pull requests merged in 2022-04, with the labels that each got.

#485 Expose gas pool
  contracts/src/precompiles/ArbGasInfo.sol
  precompiles/ArbGasInfo.go
Labels: ArbOS, blockscout

#489 Fix contract verification
  contracts/src/rollup/IRollupCore.sol
  contracts/src/rollup/RollupEventBridge.sol
  contracts/src/rollup/ValidatorUtils.sol
  contracts/src/rollup/ValidatorWallet.sol
Labels: contracts

#501 Disable hard reorgs by default and don't allow them for sequencers
  arbnode/node.go
  cmd/node/node.go
  system_tests/seqinbox_test.go
Labels: node

#523 Save and load a WAVM binary instead of the source WASM modules
  .github/workflows/docker.yml
  Dockerfile
  Makefile
  arbitrator/Cargo.lock
  arbitrator/prover/Cargo.toml
  arbitrator/prover/src/binary.rs
  arbitrator/prover/src/lib.rs
  arbitrator/prover/src/machine.rs
  arbitrator/prover/src/main.rs
  arbitrator/prover/src/value.rs
  arbitrator/prover/src/wavm.rs
  arbnode/node.go
  validator/block_validator.go
  validator/nitro_machine.go
Labels: arbitrator

#522 Remove blocks from WAVM by transpiling them into arbitrary jumps
  arbitrator/prover/src/machine.rs
  arbitrator/prover/src/value.rs
  arbitrator/prover/src/wavm.rs
  contracts/src/osp/OneStepProver0.sol
  contracts/src/state/Instructions.sol
  docs/proving/WASMToWAVM.md
Labels: arbitrator

#514 Add getL1Confirmations node interface method
  arbnode/inbox_reader.go
  arbnode/node-interface.go
  contracts/src/node-interface/NodeInterface.sol
Labels: node

#538 Fix br_table stack pollution
  Makefile
  arbitrator/prover/src/wavm.rs
  arbitrator/prover/test-cases/no-stack-pollution.wat
  docs/proving/WASMToWAVM.md
Labels: arbitrator

#537 Improve inbox tracker sync logging
  arbnode/inbox_tracker.go
  arbnode/transaction_streamer.go
Labels: node

#540 Reduce L1 load from inbox reader
  arbnode/inbox_reader.go
  arbnode/node.go
Labels: node

#544 Updated some comments on nodeinterface
  contracts/src/node-interface/NodeInterface.sol
Labels: contracts

#552 Fix inbox reader mutating latest block header
  arbnode/inbox_reader.go
  arbnode/l1reader.go
Labels: node

#520 Add timeout parameter to DAS Store interface
  arbnode/batch_poster.go
  das/das.go
  das/das_test.go
  das/dasrpc/dasRpcServer.go
  das/local_disk_das.go
  das/wireFormat.proto
Labels: AnyTrust
